@font-face {
    font-family: "NanumSquareRoundEB";
    src: url("../fonts/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRoundB";
    src: url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRoundR";
    src: url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareRoundL";
    src: url("../fonts/NanumSquareRoundL.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: NanumSquareRoundL;  
}

h1 {
    font-family: NanumSquareRoundEB;
}

h2 {
    font-family: NanumSquareRoundB;
}

h3, h4 {
    font-family: NanumSquareRoundR;
}

table {
    text-align: center;
}

div.RowFlex {
    display: flex;
    flex-direction: row;
}

div.ColFlex {
    display: flex;
    flex-direction: column;
}

div.RowFlexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.ColFlexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.TopBar {
    background-color: skyblue;
    position: fixed;
    z-index: 5;
    div.row {
        width: 100%;
        justify-content: space-between;
        div#Logo {
            padding: 1rem;
            padding-left: 5rem;
            h1 {
                font-weight: bold;
                margin: 0;
                span {
                    color: blue;
                }
            }
        }
    
        div#SearchArea {
            width: 50%;
            justify-content: center;
            p {
                margin-bottom: 0;
            }
            div#Search {
                select {
                    width: 200px;
                }
            }
        }
    
        button.SearchBtn {
            height: 50px;
        }
    }
}

div.TabArea, div.TabAreaClosed {
    width: 500px;
    height: 896px;
    position: absolute;
    top: 128px;
    right: 0;
}

div.TabAreaClosed {
    overflow: hidden;
}

div.Tab {
    width: 500px;
    height: 896px;
    position: relative;
    right: 0;
    z-index: 1;
    background-color: white;
    border-left: 1px solid black;
    transition: all 0.5s;

    div.ToggleBtn {
        width: 25px;
        height: 100px;
        padding: 5px;
        background-color: blue;
        color: white;
        position: absolute;
        left: -25px;
    }
}

div#TabClosed {
    div.Tab {
        right: -500px;
    }
}

div#WaterQualityStandard {
    margin: 1rem;
    div.WQSValueWrapper {
        margin: 1rem 0;
        h4 {
            margin: 0;
        }
    }
}

tr > td > span#Good {
    color: blue;
    font-family: NanumSquareRoundB;
}

tr > td > span#Bad {
    color: red;
    font-family: NanumSquareRoundB;
}

div.Good {
    width: 250px;
    height: 250px;
    background-image: url('../../assets/images/good.jpg');
    background-size: cover;
}

div.Bad {
    width: 250px;
    height: 250px;
    background-image: url('../../assets/images/bad.jpg');
    background-size: cover;
}

div#WaterQualityMainInfo {
    height: 600px;
    padding: 50px 0;
    justify-content: space-around;
}

div#WaterPurificationInfo {
    padding: 50px 0;
    h2 > span {
        font-family: NanumSquareRoundEB;
    }
    #WaterPurification {
        color: blue;
    }
}

    